@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 1vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    border: 3px solid black; 
    padding: 2vh 2vw;
    max-width: 35vw;
    text-align: center;
    border-radius: 10px;
}

th{
    margin-left: 10vw;
}

#tabuada{
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#tabuada img{
    max-width: 30%;
}

.img{
    display: flex;
    justify-content: center;
    margin: 2vh 2vw;
}

.img img{
    max-width: 20%;
}

input{
    background-color: rgba(240, 248, 255, 0.449);
    padding: 0.4vh;
    border-radius: 10px;
    border: 1px solid black; 
}

button{
    background-color: rgba(240, 248, 255, 0.449);
    padding: 0.6vh 0.6vw;
    border-radius: 10px;
    border: 1px solid black; 
    transition: 0.3s;
}

button:hover{
    transition: 0.3s;
    transform: scale(1.02);
    background-color: rgba(240, 248, 255, 0.289);
    cursor: pointer;
}

th{
    margin: 0vh 2vw;
}
/*---------------------------------------------------Animação--------------------------------------*/


/*---------------------------------------------------Animação--------------------------------------*/